<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать Заявку</title>
</head>
<body>
    <h1>Создание Заявки</h1>
    <form action="/create" method="post">
        <label>Оборудование: <input type="text" name="equipment" required></label><br>
        <label>Тип неисправности: <input type="text" name="fault_type" required></label><br>
        <label>Описание проблемы: <textarea name="description" required></textarea></label><br>
        <label>Клиент: <input type="text" name="client" required></label><br>
        <button type="submit">Создать</button>
    </form>
    <p><a href="/list">Список заявок</a></p>
</body>
</html>

